@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap');html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(175, 163, 57);
    font-family: 'Bebas Neue', cursive;


}
.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 0 40px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    background-color: #554005;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.menuIcon{
    margin-left: auto;
    cursor: pointer;
    font-size: 2rem;
}
.brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: aliceblue;
}
.modalMenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.500);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 200;
}
.closeIcon{
    color: gold;
    font-size: 2rem;
    position: absolute;
    top: 15vh;
    right: 10%;
}
.closeIcon:hover{
    color: black;
    cursor: pointer;
}
.modalMenu a{
    text-decoration: none;
    color: rgb(63, 85, 13);
    font-size: 2rem;
    
}
.modalMenu a:hover{
    color: orangered;
    font-size: 2.2rem;
}
.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}
.container section{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
section .title{
    color: rgb(72, 73, 15);
}
.home{
    flex-direction: column;
    background-color: unset;
    background-attachment: fixed;
    gap: 40px;
}
.homeImage{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: right;
    border-radius: 200px 200px 0px 50px;
    box-shadow: 9px 6px 7px black;
    border: 8px solid rgb(95, 27, 15);
    animation-name: buttontoTop;
    animation-duration: 2s;
    animation-iteration-count: 4;
}
.homeText{
    font-size: 7rem;
    color: rgb(100, 119, 14);
    animation-name: buttontoTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;

}

.homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.about{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    
    "box1 box2"
    "box3 box4"
    
    
    ;
}

.box{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.about_box1{
grid-template: box1;
background-image: url(https://picsum.photos/seed/15/600);
background-size: cover;
background-position: center;
background-attachment: fixed;
border-radius: 0 0 200px 0;
}

.about_box2{
    grid-template: box2;
    font-size: 12pt;
    
    }

.about_box3{
    grid-template: box3;
    font-size: 12pt;
    }
.about_box4{
    grid-template: box4;
    background-image: url(https://picsum.photos/seed/17/600);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 200px 0 0 0;
    
    }


.showcase{
    background-image: url(https:picsum.photos/seed/200/900);
    background-size: cover;
    background-attachment: fixed;
}
.rotateIcon{
    font-size: 4rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.contact{
    background-image: url(https:picsum.photos/seed/114/900);
    background-size: cover;
    background-attachment: fixed;
}

.alertAbout{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: sticky;
    top: 10vh;
    background-color: rgb(226, 230, 21);
    z-index: 80;
    margin-bottom: auto;
}

@keyframes buttontoTop{

    from{
        transform: translateX(20vh);
        opacity: 0;
    }
    to{
        transform: translateX(0vh);
        opacity: 2;
    }
    
}
@keyframes rotate{
    fm{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}